$month-color: #fc3;
$month-backgound-color: #6799cb;
$day-name-color: #000;
$day-name-background-color: #ccc;
$day-color: #000;
$day-background-color: #fff;
$month-border-color: #f15925;
$preloaded-border-color: blue;