.calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
  height: 28.8em;
  overflow-y: auto;
  position: relative;
  color: #333;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.5;
}
.calendar .blocked {
  background-color: #333;
}
.calendar .filler {
  pointer-events: none;
  opacity: 0.3;
}
.calendar .preloaded {
  border-color: blue;
  border-style: solid;
  border-width: 3px;
}
.calendar .timeSelect {
  padding: 0;
  width: auto;
  margin: 0;
  background-color: #fff;
  float: right;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-radius: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-color: #f15925;
  color: #000;
  font-size: 0.9em;
}
.calendar .timeCont {
  margin-left: auto;
  width: 10em;
  background-color: aliceblue;
  border-style: solid;
  border-color: #f15925;
  margin-right: auto;
  margin-top: 10em;
}
.calendar .dayblockrow {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  background-color: aliceblue;
}
.calendar .calendarTimeParent {
  margin: 0.1em;
}
.calendar .calendarTimeParent .calendarTime {
  font-size: 0.9em;
  margin-top: 0em;
  line-height: 1;
  background-color: aliceblue;
  color: black;
  text-align: center;
  margin: 0px;
}
.calendar .widthShapeDays {
  width: 14.2857142857%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.calendar .widthShape {
  width: 14.2857142857%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 3.6em;
  margin-bottom: 0.2em;
}
.calendar .monthName {
  margin: auto;
  text-align: center;
  font-family: Ubuntu;
  font-size: 1.61em;
  background-color: #337ab7;
  color: #ffcc33;
  flex-basis: 100%;
  border-bottom-style: solid;
}
.calendar .weekrow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #fff;
  font-family: "roboto", "arial";
}
.calendar .dayName {
  color: black;
  font-family: "roboto", "arial";
  font-weight: 600;
  background-color: #ccc;
}
.calendar .month > * {
  margin-left: 2px;
  margin-right: 2px;
}
.calendar .month {
  width: 50%;
  min-width: 300px;
  margin: auto;
}
.calendar .timeChooser {
  width: 10em;
  position: static;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}
.calendar .timeContainer {
  display: flex;
}
.calendar .timeChooserModal {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: scroll;
}
.calendar .calendarLabel {
  min-width: 3em;
  padding: 0em 1em 0em 1em;
  color: black;
  font-family: "roboto", "arial";
  font-weight: 600;
  background-color: #ccc;
  margin: 1em 0 1em 0;
}
.calendar .deleteDiv {
  font-family: Ubuntu;
  font-size: 1.61em;
  background-color: #337ab7;
  color: #ffcc33;
  border-bottom-style: solid;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .deleteButton {
  background-color: white;
  color: #f15925;
  float: right;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-radius: 1em;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .innerSpanDeleteBtn {
  text-align: center;
}
.calendar .deleteButton:hover,
.calendar .deleteButton:focus,
.calendar .timeSelect:hover,
.calendar .timeSelect:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.calendar .hour {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
}
.calendar .timeSelectP {
  display: inline;
  width: 5em;
  color: #000;
}
.calendar .timeChooser > input[type=checkbox] {
  outline: #f15925;
  outline-style: solid;
}
.calendar .timeSelect > option {
  color: #000;
}
.calendar .calendar > p, .calendar h4, .calendar h3, .calendar h2, .calendar h1, .calendar select, .calendar option {
  color: #000;
}
.calendar .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
.calendar .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
}
.calendar .arrows {
  float: right;
  clear: right;
  position: relative;
  cursor: pointer;
  flex-direction: column;
}
.calendar .arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}
.calendar .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}
.calendar .dayTime {
  cursor: pointer;
}
.calendar .dayTime > * {
  pointer-events: none;
}